@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    font-family: "Inter", sans-serif;
    margin: 0;
}

.icons {
    border-radius: 10px;
    border-style: dashed;
    border-width: 2px;
    border-color: black;
}

.box {
    background: white;
    color: black;
    font-family: "Inter", sans-serif;
}

.navigation {
    text-align: center;
}

.logo img {
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    box-shadow: 5px 5px rgb(0, 0, 0);
}

.gallery_one {
    padding: 6px 6px;
}

.shapeone {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-shadow: 0px 0px rgb(0, 0, 0);
    transition: scale 0.2s ease, box-shadow 0.2s ease;
    text-decoration: none;
}

.shapeone:hover {
    scale: 1.01;
    box-shadow: 10px 10px rgb(0, 0, 0);
}

.gallery_text {
    padding: 0 0 20px;
    color: black;
    text-align: left;
}

.gallery_text_two {
    padding: 0 0 40px;
    color: #005244;
    text-align: center;
}

.gallery_image img{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    image-rendering: optimizeSpeed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 262px;
    width: 100%;
    box-shadow: 1px 1px 1px rgb(0, 0, 0);
    box-sizing: content-box;
}

div {
    font-family: "Inter", sans-serif;
}

.icons {
    font-family: "Inter", sans-serif;
}

.icons a {
    text-decoration: none;
    color: black;
}
.icons a:hover {
    text-decoration: none;
    color: white;
    background-color: black;
}

@media (max-width: 568px) {
    .gallery_image img{
        height: auto;
    }

    .gallery {
        scale: 90%;
    }
}

@media (max-width: 1399px) {
    .gallery_image img{
        height: auto;
    }
}



